footer {
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 1em;
  width: 100%;
}

.attribution {
  color: var(--pale-blue);
  font-size: 14px;
  text-align: center;
  margin: 0 auto;
  width: 25%;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
.attribution a:hover {
  color: var(--desaturated-blue);
}

@media screen and (max-width: 375px) {
  .attribution {
    width: 100%;
  }
}
