@import url("./root.css");

body {
  background-color: var(--very-dark-blue);
  font-size: var(--spacing-18);
  font-family: "Rubik", sans-serif;
}

.wrapper {
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  display: grid;
  grid-template-areas:
    "profile card card card"
    "profile card card card";
  gap: 1.25em 1.25em;
  margin: 5% auto;
  height: 600px;
  width: 60%;
}

.card {
  position: relative;
  min-height: 170px;
  border-radius: 15px;
}

.info {
  padding: 0 1em 1em;
  font-weight: var(--weight-300);
  border-radius: 15px;
  width: 100%;
  height: 80%;
  position: absolute;
  bottom: 0;
  background-color: var(--dark-blue);
}

.info .previous {
  margin-top: 8px;
  color: var(--pale-blue);
}

.card > img {
  position: absolute;
  right: 5px;
}

.info header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--white);
  font-weight: var(--weight-400);
}

.work {
  background-color: var(--light-red);
}

.play {
  background-color: var(--soft-blue);
}

.study {
  background-color: var(--red);
}

.exercise {
  background-color: var(--lime-green);
}

.social {
  background-color: var(--violet);
}

.self-care {
  background-color: var(--soft-orange);
}

.info .time {
  font-size: 64px;
  color: var(--white);
}

.info .time {
  font-size: 64px;
  color: var(--white);
}

.info .previous {
  margin-top: 8px;
  color: var(--pale-blue);
}

@media screen and (max-width: 375px) {
  body {
    padding: 3em 1em;
    margin: 0;
  }

  .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1em;
    margin: 0 0 1em;
    height: 100%;
    width: 100%;
    color: var(--pale-blue);
  }

  .info .time {
    font-size: 32px;
    color: var(--white);
  }

  .info {
    position: absolute;
    background-color: var(--dark-blue);
    width: 100%;
    bottom: 0;
  }
  .time-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.875em;
  }
  .card > img {
    width: 70px;
    height: 70px;
  }
}
